<h2 class="text-center">Comments</h2>

<div class="d-flex justify-content-center align-items-center">
    <div class="card-deck2">
        {{#if comments}}
        {{#each comments}}
        <div class="d-flex justify-content-center align-items-center">
            <div class="card mb-3 post d-flex align-items-center" style="width: 750px; height: 75px;">
                <div class="card-body text-center text-white">
                    <h6 class="card-subtitle">Exposed By: {{user.name}}</h6>
                    <p class="card-text fs-5">{{content}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <h3 class="mt-5 fs-4">No comments yet, be the first one!</h3>
        {{/if}}
    </div>
</div>